/* Archivo: styles.css */

/* Estilos generales */
body {
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  color: #ffffff;
  background-color: #000000;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

a {
  color: #ffffff;
  text-decoration: none;
}


html {
  scroll-behavior: smooth;
}


/* Barra de navegación */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, rgba(16, 16, 18, 1) 50%);
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}

.nav-content {
  display: flex;
  justify-content: center;
  /* Centrar contenido horizontalmente */
  align-items: center;
  width: 100%;
}


.cart-container{
  position: relative;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  margin-left: 120px; /* Mueve el carrito a la izquierda */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.cart-container:hover,
.cart-container:focus {
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

#emptyCartMessage {
  font-size: 20px;
  color: #ccc;
}

#cartSummary {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  width: 100%;
  text-align: center;
}

#cartSummary p {
  margin: 5px 0;
}

#modalPrice {
  font-weight: bold;
}

.cart-item {
  border-bottom: 1px solid #ddd; /* Añadir una línea de separación */
  padding: 10px 0; /* Añadir espacio alrededor de cada elemento */
  display: flex;
  justify-content: space-between; /* Espaciar los elementos dentro del cart-item */
  align-items: center; /* Alinear los elementos verticalmente */
  
}

.cart-item p {
  margin: 0; /* Eliminar el margen por defecto de los párrafos */
}

.cart-item:last-child {
  border-bottom: none; /* Eliminar la línea de separación del último elemento */
}

.cart-item .item-name {
  flex: 3; /* Hacer que el nombre del producto ocupe más espacio */
  font-weight: bold; /* Haciendo el texto en negrita */
}

.cart-item .item-price {
  flex: 1; /* Hacer que el precio ocupe menos espacio */
  text-align: right; /* Alinear el precio a la derecha */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 90px;
  /* Aumentar el espaciado entre los elementos del menú */
}

nav li {
  position: relative;
}

nav a {
  color: #ffffff;
  padding: 10px;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  /* Eliminar subrayado */
}

nav a:hover,
nav a:focus {
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  /* Asegurarse de eliminar el subrayado en hover y focus */
}

nav ul ul {
  display: none;
  position: absolute;
  background-color: #333333;
  top: 100%;
  left: 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1100;
}

nav ul ul li {
  width: 180px;
}

nav ul ul a {
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
  /* Eliminar subrayado */
}

nav ul ul a:hover,
nav ul ul a:focus {
  background-color: #555555;
  color: #ffffff;
  text-decoration: none;
  /* Asegurarse de eliminar el subrayado en hover y focus */
}

nav li:hover>ul {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* CSS para el input */
.input-container {
  position: relative;
  width: 250px;
  margin-left: 120px;
  /* Ajustar según el espacio deseado entre el menú y el input */
  display: flex;
  align-items: center;
}

.input-container input[type="text"] {
  font-size: 15px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;

}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus~.label,
.input-container input[type="text"]:valid~.label {
  top: -20px;
  font-size: 16px;
  color: #fff;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus~.underline,
.input-container input[type="text"]:valid~.underline {
  transform: scaleX(1);
}

.search-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  /* Espacio entre el input y el botón */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.search-button:hover,
.search-button:focus {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}


/* Encabezado */
header {
  color: #ffffff;
  text-align: center;
  padding: 50px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 900;
  margin-bottom: 150px;
  /* Añade margen en la parte inferior para separarlo del resto del contenido de la tarjeta */
}

header h1 {
  font-size: 3em;
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header h2 {
  font-size: 1.5em;
  margin: 10px 0 0 0;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: 300;
}

header::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background-color: #ffffff;
  margin: 20px auto 0;
  border-radius: 2px;
}

@media (max-width: 600px) {
  header {
    padding: 30px 10px;
  }

  header h1 {
    font-size: 2.5em;
  }

  header h2 {
    font-size: 1.2em;
  }
}

/*Sección de productos*/

div h2 {
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  text-align: center;
  font-weight: bold;
  /* Hace el texto en negrita */
  margin-bottom: 20px;
  /* Añade margen en la parte inferior para separarlo del resto del contenido de la tarjeta */
  font-size: 45px;
  /* Aumenta el tamaño de la fuente */
}

.productos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 150px;
  /* Añade margen en la parte inferior para separar las secciones */

}

.card1 {
  width: 360px;
  /* Aumenta el ancho de la tarjeta */
  height: 425px;
  /* Aumenta la altura de la tarjeta */
  background: rgb(40, 40, 55);
  background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, rgba(16, 16, 18, 1) 50%);
  box-shadow: 4px 6px 14px #00000036;
  border-radius: 10px;
  color: #F9F9F9;
  padding: 10px;
  transition: all .3s;
  margin: 55px;
  display: flex;
  flex-direction: column; /* Asegura que el contenido esté en columna */
  align-items: center; /* Centra el contenido horizontalmente */
}

.card1:hover {
  margin-top: -30px;
}

.card1 h3 {
  font-size: 25px;
  /* Aumenta el tamaño de la fuente */
  font-weight: bold;
  /* Hace el texto en negrita */
  text-align: center;
  /* Centra el texto */
  margin-bottom: 10px ;
  /* Añade margen en la parte inferior para separarlo del resto del contenido de la tarjeta */
}

.card1 img {
  border-radius: 10px;
  margin-bottom: 5px;
}

.buy-now {
  align-items: center;
  background-color: transparent;
  color: #fefdfd;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

.buy-now:before {
  background-color: #faf7f7;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25, .8, .25, 1);
  width: 0;
}

.buy-now:hover:before {
  background-color: #fdfdfd;
  width: 3rem;
}

.add-to-cart-btn {
  align-items: center;
  background-color: transparent;
  color: #fefdfd;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

.add-to-cart-btn:before {
  background-color: #faf7f7;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25, .8, .25, 1);
  width: 0;
}

.add-to-cart-btn:hover:before {
  background-color: #fdfdfd;
  width: 3rem;
}


/* Estilos del Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

.modal-content {
  background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, rgba(16, 16, 18, 1) 50%);
  position: relative;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.modal-title {
  font-size: 40px;
  white-space: nowrap;
}

.close {
  position: absolute;
  right: 0;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.modal-body img {
  width: 40%;
  border-radius: 10px;
  margin-right: 20px;
}

.modal-details {
  width: 100%;
  padding-left: 10px;
}

.modal-details p {
  margin: 10px 0;
  font-size: 18px;
}

.modal.show {
  opacity: 1;
  visibility: visible;
  display: block;
}


/* Estilos para el modal de pago */

.modal-checkout {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-ck {
  background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, rgba(16, 16, 18, 1) 50%);
  position: relative;
  color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 70%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.form-section h3 {
  text-align: center;
  color: #fff;
  width: 100%;
  margin-bottom: 30px;
  font-size: 25px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
  width: 62%;
}
  
.form-section input[type="text"],
.form-section input[type="email"],
.form-section input[type="tel"],
.form-section input[type="number"] {
  width: calc(70% - 40px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  align-items: center;
}

.form-section button[type="submit"],
.form-section button[type="button"] {
  color: #ffffff;
  padding: 20px 80px;
  font-size: 18px;
  display: inline-block;
  background-color: transparent;
  text-decoration: none;
  border: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  margin: 10px auto;
  cursor: pointer;
}

.form-section button[type="submit"]:hover,
.form-section button[type="button"]:hover {
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
}



#orderSummary .order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: -10px;
  padding: 25px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  font-size: 17px;

}

#orderSummary .order-total {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
  font-size: 19px;
  border-top: 2px solid #ccc;
  margin-top: 20px;
  width: 100%;
}


.checkout-close {
  position: absolute;
  right: 0;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

.checkout-close:hover,
.checkout-close:focus {
  color: white;
  text-decoration: none;
}

.checkout-back {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  outline: none;
}

.checkout-back:hover {
  color: #ccc;
}





/* Estilo de la superposición de fondo */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Estilo del mensaje emergente */
.popup-message {
  display: none;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 20px 30px; /* Aumentado el padding */
  border-radius: 10px; /* Aumentado el radio de la esquina para bordes redondeados */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Añadido sombra para más efecto */
  z-index: 1000;
  font-size: 20px; /* Aumentado el tamaño de la fuente */
  font-weight: bold; /* Haciendo el texto en negrita */
  text-align: center; /* Centrar el texto */
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease; /* Añadido transición para el efecto de entrada/salida */
}

.popup-message.show {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(0); /* Mover el mensaje hacia abajo */

}






/* Estilo para el botón de remover producto */
.remove-item {
  background-color: transparent; /* Color de fondo rojo */
  color: rgb(251, 251, 251); /* Color del texto blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 15px; /* Relleno */
  cursor: pointer; /* Cambiar el cursor a pointer */
  font-size: 16px; /* Tamaño de fuente */
  margin-left: 280px; /* Añadir espacio a la izquierda del botón de remover */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.remove-item:hover,
.remove-item:focus {
  background-color: #ff0000; /* Cambiar el color de fondo al pasar el mouse */
  transform: scale(1.05); /* Ampliar ligeramente el botón */
  outline: none; /* Eliminar el contorno en el enfoque */
}


.modal-button {
  color: #ffffff; /* Color del texto */
  padding: 15px 30px; /* Aumentar el tamaño del botón */
  font-size: 18px; /* Aumentar el tamaño del texto */
  display: inline-block; /* Cambiar a inline-block para centrar correctamente */
  background-color: transparent; /* Fondo transparente */
  text-decoration: none; /* Eliminar subrayado */
  border: none; /* Eliminar bordes */
  transition: color 0.3s ease, background-color 0.3s ease; /* Transición para color y fondo */
  margin: 10px auto; /* Centrarlos con margen automático */
  cursor: pointer; /* Cambiar el cursor a pointer */
}

.modal-button:hover,
.modal-button:focus {
  color: #000000; /* Color del texto al hacer hover */
  background-color: #ffffff; /* Fondo blanco al hacer hover */
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none; /* Asegurarse de eliminar el subrayado en hover y focus */
}





/*Sección de información*/
.card {
  position: relative;
  width: 950px;
  height: 700px;
  background-color: #0c0c0c;;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  margin: 40px;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  /*background-color: #080808;*/
  background: linear-gradient(344deg, rgba(40, 40, 55, 1) 0%, rgba(16, 16, 18, 1) 50%);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 44px;
  color: #ffffff;
  font-weight: 700;
}

.card__description {
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  margin: 10px 0 0;
  font-size: 18px;
  color: #d1cfcf;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
}


.card img {
  /*width: 100%;
  height: auto;*/
  width: 950px;
  height: 700px;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #090909;
}



/* Sección Acerca de Nosotros */
#acerca-de {
  padding: 50px 20px;
  background-color: #1c1c1c;
  color: #ffffff;
}

#acerca-de h2 {
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

#acerca-de p {
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: center;
}

#acerca-de h3 {
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}

/* Pie de página */
footer {
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra superior */
}

footer p {
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  margin: 10px 0;
  font-size: 1em;
}

.card2 {
  width: fit-content;
  height: fit-content;
  background-color: rgb(4, 4, 4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



@media (max-width: 600px) {
  #productos {
    flex-direction: column;
    align-items: center;
  }

  #informacion article {
    flex-direction: column;
    align-items: center;
  }

  footer p {
    font-size: 0.9em;
  }
}