/* Archivo: styles.css */

/* Estilos generales */
body {
    font-family:ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    color: #ffffff;
    background-color: #000000;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
html {
    scroll-behavior: smooth;
  }
  

/* Barra de navegación */

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%);
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}

.nav-content {
  display: flex;
  justify-content: center; /* Centrar contenido horizontalmente */
  align-items: center;
  width: 100%;
}

.cart-container {
  margin-left: 120px; /* Mueve el carrito a la izquierda */
}

.cart-container a {
  color: #ffffff;
  padding: 10px;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration: none;
}

.cart-container a:hover,
.cart-container a:focus {
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 90px; /* Aumentar el espaciado entre los elementos del menú */
}

nav li {
  position: relative;
}

nav a {
  color: #ffffff;
  padding: 10px;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration: none; /* Eliminar subrayado */
}

nav a:hover,
nav a:focus {
  color: #000000;
  background-color: #ffffff;
  border-radius: 5px;
  text-decoration: none; /* Asegurarse de eliminar el subrayado en hover y focus */
}

nav ul ul {
  display: none;
  position: absolute;
  background-color: #333333;
  top: 100%;
  left: 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1100;
}

nav ul ul li {
  width: 180px;
}

nav ul ul a {
  padding: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
  text-decoration: none; /* Eliminar subrayado */
}

nav ul ul a:hover,
nav ul ul a:focus {
  background-color: #555555;
  color: #ffffff;
  text-decoration: none; /* Asegurarse de eliminar el subrayado en hover y focus */
}

nav li:hover > ul {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* CSS para el input */
.input-container {
  position: relative;
  width: 250px;
  margin-left: 120px; /* Ajustar según el espacio deseado entre el menú y el input */
  display: flex;
  align-items: center;
}

.input-container input[type="text"] {
  font-size: 15px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
  color: #fff;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #fff;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}

.search-button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px; /* Espacio entre el input y el botón */
  transition: color 0.3s ease, background-color 0.3s ease;
}

.search-button:hover,
.search-button:focus {
  color: #000;
  background-color: #fff;
  border-radius: 5px;
}


/* Encabezado */
header {

    color: #ffffff;
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 900;
    margin-bottom: 150px; /* Añade margen en la parte inferior para separarlo del resto del contenido de la tarjeta */
}

header h1 {
    font-size: 3em;
    margin: 0;
    font-family:  ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header h2 {
    font-size: 1.5em;
    margin: 10px 0 0 0;
    font-family:  ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    font-weight: 300;
}

header::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #ffffff;
    margin: 20px auto 0;
    border-radius: 2px;
}

@media (max-width: 600px) {
    header {
        padding: 30px 10px;
    }

    header h1 {
        font-size: 2.5em;
    }

    header h2 {
        font-size: 1.2em;
    }
}

/*Sección de productos*/

div h2 {
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
  text-align: center;
  font-weight: bold; /* Hace el texto en negrita */
  margin-bottom: 20px; /* Añade margen en la parte inferior para separarlo del resto del contenido de la tarjeta */
  font-size: 45px; /* Aumenta el tamaño de la fuente */
}

.productos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 150px; /* Añade margen en la parte inferior para separar las secciones */
  
}

.card1 {
  width: 360px; /* Aumenta el ancho de la tarjeta */
  height: 425px; /* Aumenta la altura de la tarjeta */
  background: rgb(40,40,55);
  background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%);
  box-shadow: 4px 6px 14px #00000036;
  border-radius: 10px;
  color: #F9F9F9;
  padding: 5px;
  transition: all .3s;
  margin: 55px;
}

.card1:hover {
  margin-top: -30px;
}

.card1 h3 {
  font-size: 25px; /* Aumenta el tamaño de la fuente */
  font-weight: bold; /* Hace el texto en negrita */
  text-align: center; /* Centra el texto */
  margin-bottom: 10px; /* Añade margen en la parte inferior para separarlo del resto del contenido de la tarjeta */
}

.card1 img {
  border-radius: 10px;
  margin-bottom: 10px;
}

.buy-now {
  align-items: center;
  background-color: transparent;
  color: #fefdfd;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

.buy-now:before {
  background-color: #faf7f7;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.buy-now:hover:before {
  background-color: #fdfdfd;
  width: 3rem;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 200px;
  cursor: pointer;
  position: relative;
}

.product-card img {
  width: 100%;
}

.product-card h2 {
  font-size: 1.2em;
  margin: 10px;
}

.product-card p {
  font-size: 1em;
  margin: 10px;
}

.product-card .price {
  font-weight: bold;
  color: #007bff;
  margin: 10px;
}

.product-card button {
  background-color: #28a745;
  border: none;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #218838;
}

/* Estilos para el modal */
.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content img {
  max-width: 100%;
}




/*Sección de información*/
.card {
  position: relative;
  width: 950px;
  height: 700px;
  background: linear-gradient(-60deg, #343246 0%, #131313 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  margin: 40px;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  /*background-color: #080808;*/
  background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
  font-size: 44px;
  color: #ffffff;
  font-weight: 700;
}

.card__description {
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
  margin: 10px 0 0;
  font-size: 18px;
  color: #d1cfcf;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
}


.card img {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #090909;
}



/* Sección Acerca de Nosotros */
#acerca-de {
    padding: 50px 20px;
    background-color: #1c1c1c;
    color: #ffffff;
}

#acerca-de h2 {
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

#acerca-de p {
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

#acerca-de h3 {
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}

/* Pie de página */
footer {
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Sombra superior */
}

footer p {
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    margin: 10px 0;
    font-size: 1em;
}

.card2 {
  width: fit-content;
  height: fit-content;
  background-color: rgb(4, 4, 4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128C7E;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



@media (max-width: 600px) {
    #productos {
        flex-direction: column;
        align-items: center;
    }

    #informacion article {
        flex-direction: column;
        align-items: center;
    }

    footer p {
        font-size: 0.9em;
    }
}


